################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DevOpsGitHubRepoDemo/v15/Server/sqlite3
/.vs/DevOpsGitHubRepoDemo/v15
/.vs/Demo1/v15
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
